@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

&.slaider {
    background-color: #10c9c3;
    
    .section-bg-slaider {
       
        padding-top: 178px;
        padding-bottom: 153px;

        .section-bg-content {
            text-align: center;

            ol.carousel-indicators {
                position: relative;
                top: 100px;
            }

            .text {
                font-family: Montserrat;
                font-size: 24px;
                font-weight: bold;
                color: #ffffff;

                span {
                    padding-top: 35px;
                    font-family: Montserrat;
                    font-size: 12px;
                    line-height: 36px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: #ffffff;
                }
            }

        }
    }
   
}