<!-- Section: Footer -->
<footer class="section footer">
    <div class="container">
        <div class="section-bg-footer">
            <div class="section-content">
                <div class="name"> Piroll Design, Inc. </div>
                <div class="name-adres"> <a href="">hello@pirolltheme.com <br>
                        +44 987 065 908</a>
                </div>

                <ul class="list-1">
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Carreer</a></li>
                </ul>
                <ul class="list-2">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Legals</a></li>
                </ul>

                <ul class="social">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Dribbble</a></li>
                </ul>

            </div>
        </div>
    </div>

</footer>
<!-- End of Section: Footer -->

<!-- Scripts -->
<script src="assets/js/vendor.min.js?v=1"></script>
<script src="assets/js/main.min.js?v=1"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<script src="http://malsup.github.io/jquery.cycle2.center.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
    crossorigin="anonymous"></script>

<!-- End of Scripts -->

</body>

</html>