<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta: Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- End of Meta: Basic -->

	<!-- Meta: Mobile -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- End of Meta: Mobile -->

	<!-- Meta: Site -->
	<title>Start Html – Home Page</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- End of Meta: Site -->

	<!-- Meta: Basic Images -->
	<meta property="og:image" content="assets/img/og-image.jpg">
	<link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png">
	<!-- End of Meta: Basic Images -->

	<!-- Styles -->
	<link rel="stylesheet" href="assets/css/main.min.css?v=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj"
	 crossorigin="anonymous">
</head>



<!-- End of Styles -->

<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

<!-- Meta: Mobile Bar Color -->
<meta name="theme-color" content="#FFFFFF">
<meta name="msapplication-navbutton-color" content="#FFFFFF">
<meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
<!-- End of Meta: Mobile Bar Color -->

</head>

<body>

	<!-- Section: Header -->
	<header class="section header">

		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">
					<img src="assets/img/logo.png" alt="">
				</a>
				<button class="navbar-toggler ml-auto " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav align-items-end">
						<li class="nav-item ">
							<a class="nav-link" href="#">Home</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Work</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Procces</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Testimonials</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>

					</ul>
				</div>
			</nav>
			<div class="section-content">
				<div class="title">We Design and Develop</div>
				<div class="subtitle">We are a new design studio based in USA. We have over <br>
					20 years of combined experience, and know a thing or two <br>
					about designing websites and mobile apps.
				</div>
				<div class="section-button">
					<a href="#" class="ui button style size color">contact us</a>
				</div>

			</div>

		</div>

	</header>
	<!-- End of Section: Header -->
</body>